<p id="notice"><%= notice %></p>

<p>
  <strong>Nickname:</strong>
  <%= @guide.nickname %>
</p>

<p>
  <strong>Text:</strong>
  <%= @guide.text %>
</p>

<%= link_to 'Edit', edit_guide_path(@guide) %> |
<%= link_to 'Back', guides_path %>
